.product{
    background:white;
}

.list-group-item{
    
}


.product__productName{
    
}
.product__productPrice{
    font-size: 40px;
    display:flex;
    flex-direction:row;
    color:#4DC782;
}

.product__inStock,.product__outStock{
    font-size: 20px;
}

.product__outStock{
    color:red;
}

.product__addToCartButton{
    background:#4DC782;
    border:none;
}
.product__addToCartButton:hover{
    background:#4DC782;
    border:none;
}