body{
    outline:none;
}

a{
    text-decoration: none;
}

h3{
    padding:1rem 0;
}
h1{
    font-size:1.4rem;
    padding:0.1rem;
}

.fluid{
    width: 100%;
}

.content-center{
    width:988px;
    padding: 30px 0px;
    margin: 0 auto;
}

.section-header{
    font-size: 30px;
    margin-bottom: 10px;
    color:#333333;
}




@media only screen and (max-width:1200px){
    
}

@media only screen and (max-width:767px){
    .content-center{
        width:auto;
       
    }
}
