.header{
    width:100%;
    background:white;
    padding-bottom: 10px;
    display:flex;
    flex-direction: column;
}

.header__wrapper,.header__top{
    display:flex;
    flex-direction:row;
    width:1296.010px;
    margin:0 auto;
}
.header__top{
    justify-content: flex-end;
    margin-bottom: 5px;
}

.header__link-list{
    display:flex;
    margin: 0;
}

.header__link-item{
    margin-left: 10px;
}

.header__nav-link{
    color:darkgray;
    font-size: 14px;
}

.header__hamburger{
    display:none;
}


.header__logo-wrapper{
    flex:0.2
}
.header__logo{
    display: block;
    margin: auto 0;
    width: 180px;
}

.header__search-form{
    display:flex;
    flex:0.7;
    margin: auto 0;
}

.header__search{
    width: 100%;
    padding: 5px 10px;
    height:38px;
    flex:1 1;
    border:1px solid lightgray;
}



.header__basket{
    flex:0.1;
    cursor:pointer;
}
.header__iconCount{
    display:flex;
    position: relative;
}
.header__iconCount > i, .header__iconCount > span{
    color:#4DC782;
}

.header__iconCount > i{
    font-size: 30px;
}

.header__count{
    position: absolute;
    background-color: #E09512;
    font-size: 12;
    color:white;
    display:grid;
    place-items: center;
    width: 20px;
    height: 20px;
    font-weight: bold;
    border-radius: 100%;
    
    left:86%;
}

.header__search-go{
    border: none;
    display:grid;
    place-items: center;
    border:none;
    background-color:#4DC782;
    cursor:pointer;
}
.header__find-logo{
    color:white;
}

.header__basket{
    display:grid;
    place-items:center;
}

.header__basketLink{
    text-decoration: none;
    
}

.header__basketIcon{
    color:#4DC782;
    cursor: pointer;
}

@media only screen and (max-width:1200px){
    .header{
    }
    .header__wrapper,.header__top{
        width:936px;
    }

    .header__logo{
    
    }

}

@media only screen and (max-width:1023px){
    .header{
        padding:15px;
    }
    .header__wrapper,.header__top{
        width:708px;
    }

    .header__top{
        display:none;
    }

    .header__hamburger{
        display:grid;
        place-items:center;
        flex:0.1;
    }

    .header__logo{
    
    }

    .header__search-form{
        display:none
    }

    .header__search-md{
        flex: 0.7;
        display: flex;
        justify-content: flex-end;
    }

    .header__find-logo{
        margin: auto 0;
        color:#4DC782;
    }

}

@media only screen and (max-width:767px){
  
}

@media only screen and (max-width:480px){
    
    .header__wrapper,.header__top{
        
        width:100%;
        margin: 0;
    }



    .header__basket{
        flex:0.3
    }

}
  