.cartscreen__product-name{
    font-size: 20px;
    color:#414141;
}


.cartscreen__empty{
    display:grid;
    place-items: center;
    width: 100%;
    height: 50vh;
}

.cartscreen__checkout{
    background-color:#4DC782 !important;
    border: none;
}

.cartscreen__empty-back{
    cursor:pointer;
    text-decoration: none;
    color:darkgray;
    text-align: center;
    padding: 5px 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 100px;
    border: 1px solid darkgray;
}