.product{

}

 


.product__linkText{
    text-decoration:none;
    color:black;   
    transition:0.2s;
}
.product__linkText:hover{
    color:#4DC782;
    text-decoration: underline;   
}
.product__cardBody{
    position: relative;
    padding:5px 10px;
}
.product__addToCart{
    cursor:pointer;
    position:absolute;
    top:50%;
    left:79%;
    display:grid;
    place-items: center;
    background:#4DC782;
    width: 50px;
    height: 40px;
    border-radius: 4px;
}

.product__addToCart > i{
    color:white;
    font-size: 20px;
}


.product__OutofStock{
    font-size: 15px;
    background:none;
    color:red;
    width: 75px;
    left: 70%;
}

