.carousel__description{
    color:white;
}

.carousel__item-image{
    z-index: 1 !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
    display:flex;
}

.carousel-caption{
    position:absolute;
    top:0;
}

.carousel img{
    height:300px;
    padding:30px;
    margin: 40px;
    border-radius:50%;
}

.carousel a{
    margin: 0 auto;
}


@media only screen and (max-width:1200px){

}

@media only screen and (max-width:1023px){

}

@media only screen and (max-width:767px){
  
}

@media only screen and (max-width:480px){
    .carousel-caption > h2{
        font-size: 15px;
    }
    .carousel img{
        height:150px;
    }
}
  